.App {
  text-align: center;
}
.margin-top{
  margin-top: 250px;
}
body{
  background-color: #edf6f9 !important;
}
.list-group-item{
  cursor: pointer;
}
.list-group-item:hover{
  background-color:#eee;
}
.active{
  color: dodgerblue !important;
  background-color: white !important;
  border-left: 2px solid dodgerblue !important;
  border-bottom: none !important;
  border-top: none !important;
}